a#userLink(href=router.getLink("jobListing", { jobId: job._id,}))
	.listedPerson.thumbnail
		.row
			.col-md-12.col-sm-12
				.classtitle
					h3 #{job.listing}
						br
						small #{job.location}
					-var arrayOfSeasons = Object.keys(job.seasons).map(function (key){
					-		return job.seasons[key];
					-});
					-var slicedseasons = arrayOfSeasons.slice(0).join(", ")
					p=slicedseasons