extends ../layout

block content
	include ../_topbar
	.container
		.row
			.col-md-8.col-md-offset-2
				h3 Edit Job Listings
					a.btn.btn-primary.pull-right(href=router.getLink("newJob")) Add Course

				each job in jobs
					a(href=router.getLink("deleteListingsJob", {jobId: job._id}))
						span.glyphicon.glyphicon-remove.pull-left.deleteCourse
					a(href=router.getLink("jobListing", {jobId: job._id} ))
						p #{job.listing}
							
