extends ../layout

block content
	include ../_topbar
	.container
		.row.pull-right#myClassTop
			.col-md-5.col-sm-4
				h1 Job Listings
			#sorting
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.pull-right
					.input-group.input-group-sm
						input.form-control(type="text")
						span.input-group-btn
							button.btn.btn-default(type="button") <span class="glyphicon glyphicon-search"></span>
				.col-lg-3.col-md-4.col-sm-5.pull-right
					.btn-group.btn-group-sm.pull-right
						button.btn.btn-default All People
						button.btn.btn-default Most Active 
						button.btn.btn-default Top Ranked
		.row
			.col-md-12
				.lead This Feature is Coming Soon!
				//-a#courseLink(href=router.getLink("course", {courseid: }))
					.listedClass.thumbnail
						.row
							.col-md-8.col-sm-6
								img#profilePhoto.pull-left(src="/img/mick.png")
								.classtitle
									h3 Lessons in Surfing and Life
									em.subheader with <a href="http://en.wikipedia.org/wiki/Kelly_Slater">Kelly Slater</a>
									p.dateMonth March 15th - April 15th
									p.date Tuesdays and Thursdays 8:00pm - 9:00pm PST
							.col-md-4.text-center
								.btn.btn-lg.btn-success#addClassBtn + My Classes
	include ../_footer