extends ../layout
block content
	include ../_topbar
	.container
		.row
			.col-md-8.col-md-offset-2#loginForm
				h3 New Job Listing
				form.form(role="form" action="/jobs/newjob" method="post")
					.row
						h5 Seasons
						div.col-md-3
							input(type="checkbox" value="Spring " name="j[seasons][spring]")
							label(for="j[seasons]") Spring
						div.col-md-3
							input(type="checkbox" value="Summer " name="j[seasons][summer]")
							label(for="j[seasons]") Summer
						div.col-md-3
							input(type="checkbox" value="Fall " name="j[seasons][fall]")
							label(for="j[seasons]") Fall
						div.col-md-3
							input(type="checkbox" value="Winter " name="j[seasons][winter]")
							label(for="j[seasons]") Winter
					br
					.row
						div.form-group.col-md-6
							label.sr-only(for="username") Listing Title
							input.form-control(placeholder="Listing Title" type="text" name="j[listing]")
						div.form-group.col-md-6
							label.sr-only(for="teacher") Description
							input.form-control(placeholder="Description" type="text" name="j[description]")
					.row
						div.form-group.col-md-12
							label.sr-only(for="Publish") Ideal Candidate
							input.form-control(placeholder="Ideal Candidate" type="textfield" name="j[idealCandidate]")

					.row
						div.form-group.col-md-6
							label.sr-only(for="Publish") Location
							input.form-control(placeholder="Location" type="textfield" name="j[location]")
						div.form-group.col-md-6
							label.sr-only(for="level") Jobs
							input.form-control(placeholder="Jobs" type="textfield" name="j[jobs]")
					div.form-group
						label.sr-only(for="topic") Housing
						input.form-control(placeholder="Housing" type="text" name="j[housing]")
					div.form-group
						label.sr-only(for="topic") Application Details
						input.form-control(placeholder="Application Details" type="text" name="j[applicationDetails]")
					.row
						div.form-group.col-md-6
							label.sr-only(for="overview") Age Requirement
							input.form-control(placeholder="Age Requirement" type="textfield" name="j[ageRequirement]")
						div.form-group.col-md-6
							label.sr-only(for="overview") Compensation
							input.form-control(placeholder="Compensation" type="textfield" name="j[compensation]")
					-if(user)
						input(type="hidden" value=user._id name="j[organization]")

					.modal.fade#questionaire(role="dialog" aria-hidden="true" tabindex="-1")
						.modal-dialog
							.modal-content
								.modal-header 
									h4 Questionaire
								.modal-body
									.lead This questionaire is a great way to get to know a little bit more about the applicant. Feel free to ask anything!
									#questionFormContainer
										-var i=0
										div.form-group#questionForm
											label.sr-only(for="topic") Question #1
											input.form-control(placeholder="Question #1" type="text" name="j[questionaire][" + i + "]")
										-i++
									.row
										#addQuestion.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add question
								.modal-footer
									button(data-dismiss="modal" type="button").btn.btn-success Confirm
					button.btn.btn-primary.pull-right(type="submit" name="addjob") Add Job
					.btn.btn-default.pull-left#addQuestionaire(data-toggle="modal" data-target="#questionaire") Add Questionaire
block scripts
	script(src="/javascripts/newjob.js")




