extends ../layout

block content
	include ../_topbar
	.container
		#profile
			.row#videoContainer
				div.courseDetails.col-sm-6.col-md-6
					img.pull-right.profileImage(src="../img/mick.png")
					h2.profName Company Dashboard
					p.lead Professional Surfer
					p Mick Fanning’s path to surfing greatness has incorporated all the attributes of a champion. He has overcome personal tragedy, career-threatening injury and one of sport’s greatest competitive dynasties, in the form of American Kelly Slater, to twice reach surfing’s highest echelon.
					p In his first year on tour, aged 22, Mick finished an incredible 5th in the world, earning him the ASP Rookie of the Year award. In 2003 Mick climbed one step higher and finished 4th and many thought 2004 would be Mick’s year. However, a catastrophic freesurfing injury changed everything. Mick ripped his hamstring clean off the bone, was out of action for six months and left questioning whether he’d ever again surf competitively. His comeback to the world tour was a stirring win in front of 20,000 fans at his homebreak, Snapper Rocks.
					p Mick then put together one of the most impressive competitive seasons of all time, winning three events, finishing runner-up in another and making four semi finals. His incredible effort in 2007 saw Mick become the first Australian to usurp Slater for a world title in 15 years. The first person Mick thought of when he won was his beloved brother, Sean, who died tragically in a car accident when Mick was just 16 and he dedicated this achievement to him.
					p In 2008 Mick married long time girlfriend Karissa, put in some blistering performances on the Gold Coast, South Africa and California and finished 8th. Then in 2009, it was on again. Mick clawed his way from the shadows of runaway ratings leader, Joel Parkinson, one of his best friends, to capture World Title number two at the final event at Pipeline.
					p Although Mick has since struggled to find the consistency that helped him bag his world titles, he has had a number of finals appearances including two event wins. His most recent victory came early in the 2012 season with an epic win over Slater at Bells Beach. The result has pushed Mick close to the top the ratings and has put him in a solid position to challenge the World Title frontrunners.

					
				.col-sm-6.col-md-6
					.panel.panel-default
						.panel-heading General Information
						ul.list-group
							li.list-group-item 
								p <b>From:</b>  Tweed Head, NSW, Australia
							li.list-group-item 
								p <b>Sponsors:</b>  Rip Curl, Red Bull, Reef, Dragon, DHD, Creatures Of Leisure, Vertra, Skullcandy, Ford, FCS fins, DHD.
							li.list-group-item 
								p <b>Known For:</b>  Being the first Australian to usurp Kelly Slater for a world title in 15 years. 
							li.list-group-item 
								p <b>Favorite Quote:</b>  There is only one way to avoid criticism: do nothing, say nothing, and be nothing. <i>–Aristotle</i>
							li.list-group-item 
								p <b>Records Held:</b>  World Title
					
					h3 Courses
					a#courseLink(href=router.getLink("course", {courseTitle: "surfing"}))
						#teachersCourse.thumbnail
							.row
								.col-md-3
									img#courseImage.pull-left(src="../img/surfinglife.png")
								#classCaption.col-md-6
									h3 Lessons in Life and Surfing
									p  In this course, world famous surfer, Mick Fanning Shares the wisdom that he’s gotten from years on the waves.
								#rightcaption.col-md-3
									p.lead Class Starts
									h4 April 6th 2014
									p(style="color:grey;") 2:00pm - 3:00pm 
									a.btn.btn-success(href=router.getLink("dashboard", {user: "spencer"})) + My Classes
					.profileSection
						h3 Upcoming Trips
						a#courseLink(href=router.getLink("trip", {trip: "costarica"}))
							#teachersCourse.thumbnail
								.row
									.col-md-3
										img#courseImage.pull-left(src="../img/surftrip.png")
									#classCaption.col-md-6
										h3 Surfing in Pavones, Costa Rica
										p  Surf the longest left breaking wave in the world with Mick Fanning and other passionate surfers.
									#rightcaption.col-md-3
										h5 April 30th 2014 
										em through
										h5 May 15th 2014
										.btn.btn-primary Details


				
	include ../_footer