extends ../layout

block content
	include ../_topbar
	.container
		.row
			.col-md-4.col-md-offset-4#loginForm
				h3 Sign in
				form.form(role="form" action="/login" method="post")
					div.form-group
						label.sr-only(for="username") Username
						input.form-control#username(placeholder="Enter Username" type="text" name="username")
					div.form-group
						label.sr-only(for="password") Password
						input.form-control#password(placeholder="Password" type="password" name="password")
					button.btn.btn-default.pull-right(type="submit" name="signin") Sign in
		.row
			br
			a.col-md-4.col-md-offset-4.text-center(href="#") Forgot Your Password?