extends ../layout

block content
	include ../_topbar
	.container
		.col-md-6.col-md-offset-3#loginForm
			h3 Register Business
			br
			h4= info
			form.form(role="form" action="/companyregistration" method="post")
				div.form-group
					label.sr-only(for="organizationName") Business Name
					input.form-control#first(placeholder="Organization Name", type="text", name="organizationName", required)
				div.form-group
					label.sr-only(for="email") Email
					input.form-control#email(placeholder="Email", type="text", name="email", required)
				div.form-group
					label.sr-only(for="password") Password
					input.form-control#password(placeholder="Password", type="password", name="password", required)
				
				p By clicking, you agree to the <a href="#">Terms of Service</a>
				button.btn.btn-default.pull-right(type="submit" name="signup") Sign up
