doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel="icon" href="/img/favicon.ico")
		title= title
	
		link(rel='stylesheet', href='/stylesheets/global/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/global/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/global/base.css')
		link(rel='stylesheet', href='/stylesheets/global/dialog.css')
		link(rel='stylesheet', href='/stylesheets/global/fonts.css')
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css")
		script(src="/javascripts/vendor/modernizr.custom.js")
		script(src="/angular/angular.min.js")
		script(src="/angular/app.js")



	body
		block content
		script(src="/javascripts/vendor/jquery.js")
		script(src="/javascripts/vendor/jquery-ui.js")
		script(src="/javascripts/vendor/bootstrap.min.js")
		script(src="/javascripts/home.js")
		script(src="/javascripts/admin.js")
		script(src="/javascripts/dashboard.js")
		script(src="/javascripts/vendor/classie.js")
		//- script(src="/javascripts/vendor/stepsForm.js")
		//- script(src="/javascripts/intro.js")
		script(src="/javascripts/dialog.js")
		block scripts





